{% extends 'base.html' %}
{% load static %}
{% block content %}




        <section class="banner-blog">
            <div id="particles-js"></div>
            <!--Banner Caption-->
            <div class="banner-caption text-center">
                <h1>گواهینامه‌ها</h1>
                <div class="bread-crumb mt-10">
                    <a href="index.html">خانه</a>
                    <a href="#">گواهینامه‌ها</a>
                </div>
            </div>
        </section>

        <!--Certificates List Section Start-->
        <section class="certificates certificates-page pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="heading text-center mb-50">
                            <h2>تمامی گواهینامه‌ها و مدارک</h2>
                            <p>مجموعه کامل گواهینامه‌های حرفه‌ای و تخصصی</p>
                        </div>
                    </div>
                </div>
                
                <div class="row certificates-items">
                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-1.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-1.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>Internal Audit Of Health & Safety</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-2.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-2.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>Principles Of Safety And Occupational Health</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-3.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-3.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>Health & Safety & Environment Management System (HSE-MS)</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-4.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-4.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>Health & Safety & Environment Plan (HSE-PLAN)</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-5.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-5.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Certificate of Attendance</h6>
                            <p>ISO9001-2008 Elements & Requirements</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-6.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-6.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Certificate of Attendance</h6>
                            <p>ISO9001-2008 Documentation</p>
                        </div>
                    </div>


  <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-12.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-12.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ شرکت در وبینار آموزشی</h6>
                            <p>معرفی استانداردهای سیستم های مدیریت</p>
                        </div>
                    </div>





                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-7.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-7.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Certificate of Attendance</h6>
                            <p>Project Time Management</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-8.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-8.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>professional Ethics in Project Management</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-9.jpg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-9.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>Financial Management for Nonfinancial Manager</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-10.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-10.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>Developement pf Leadership in Organization</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-11.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-11.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌</h6>
                            <p>شناسایی خطرات و ارزیابی ریسک</p>
                        </div>
                    </div>

                  

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-13.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-13.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون پایان دوره آموزشی</h6>
                            <p>روشهای تعمیر، مرمت و تقویت سازه ها</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-14.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-14.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ شرکت در وبینار آموزشی</h6>
                            <p>کاربرد اینترنت اشیا در صنعت ساختمان</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-15.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-15.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون تخصصی</h6>
                            <p>نظارت بر ساختمان های بتن آرمه</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-16.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-16.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون تخصصی</h6>
                            <p>نظارت بر ساختمان های فولادی</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-17.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-17.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون تخصصی</h6>
                            <p>آشنایی با مبانی گودبرداری و سازه های نگهبان</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-18.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-18.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون تخصصی</h6>
                            <p>ساختمان‌های با مصالح بنایی</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-19.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-19.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ شرکت در سمینار و کارگاه آموزشی</h6>
                            <p>آشنایی با سازه های فضاکار</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-20.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-20.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون پایان دوره آموزشی</h6>
                            <p>بتن های ویژه و روشهای خاص بتن ریزی</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-21.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-21.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون پایان دوره آموزشی</h6>
                            <p>روشهای اجرا و کنترل اتصالات در سازه های فولادی</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-22.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-22.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>گواهینامه‌ موفقیت در آزمون تخصصی</h6>
                            <p>فرایند جوشکاری و بازرسی جوش در ساختمان</p>
                        </div>
                    </div>

                    <!--Certificate Item-->
                    <div class="col-lg-3 col-md-4 col-sm-6 item">
                        <div class="item-content">
                            <img src="{% static 'images/certificates/cert-23.jpeg' %}" alt="">
                            <div class="item-overlay">
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/certificates/cert-23.jpeg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="item-info">
                            <h6>Training Certificate</h6>
                            <p>Certified Welding Inspector (AWS-CW)</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--Certificates List Section End-->

        

        
{% endblock %}