{% extends 'base.html' %}
{% load static %}
{% block content %}

        <!--Home Section Start-->
        <section id="home" class="banner banner-centered"
        style="background-image: url('{% static 'images/background/creative2-banner-bg.jpg' %}')"
        data-stellar-background-ratio=".7"
        data-scroll-index="0">

    <!--Banner Content-->
    <div class="banner-caption">
        <h1>مهندس محمدرضا صفا</h1>

        <!-- شماره های رسمی -->
        <div class="banner-license">
            <p>شماره پروانه اشتغال: 18-300-01013</p>
            <p>شماره عضویت: 18-3-0-02530</p>
        </div>

        <p class="cd-headline clip mt-30">
            <span></span><br>
            <span class="blc">مهندس عمران</span>
            <span class="cd-words-wrapper">
                <b class="is-visible">بیش از 22 سال تجربه در مدیریت و اجرای پروژه‌های عمرانی</b>
                <b>پایه نظارت یک</b>
                <b>نظارت و اجرای سازه‌های بزرگ مقیاس</b>
            </span>
        </p>
    </div>

    <div class="arrow bounce">
        <a class="fa fa-chevron-down fa-2x" href="#" data-scroll-nav="1"></a>
    </div>

    <svg id="home-svg"
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1400 300"
         preserveAspectRatio="none">
    </svg>
</section>
        <!--Home Section End-->

        <!--About Section Start-->
        <section id="درباره من" class="about pt-100 pb-100" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <!--About Image-->
                        <div class="about-img">
                            <img src="{% static 'images/profile.jpeg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <!--About Content-->
                        
                        <div  class="about-content">
                            <div  class="about-heading">
                                <h2>درباره من</h2>
                            
                            </div>
                            <p>اینجانب محمدرضا صفا، کارشناس مهندسی عمران- عمران و  ( کارشناس ارشد مدیریت اجرایی ) با بیش از ۲۲ سال سابقه حرفه‌ای در حوزه‌های برنامه‌ریزی، مدیریت، اجرا و نظارت بر پروژه‌های عمرانی و صنعتی می‌باشم. طی این سال‌ها، با توجه به ماهیت گسترده و عمومی رشته مهندسی عمران، در پروژه‌های متنوعی از جمله پروژه‌های ساختمانی، زیرساختی، راه‌سازی، خطوط انتقال آب و گاز، احداث تقاطع‌های غیرهمسطح، پروژه‌های صنعتی و ساخت آب‌شیرین‌کن‌های صنعتی به‌صورت مؤثر ایفای نقش نموده‌ام.</p>
                            <p>با اعتقاد به اینکه موفقیت در این رشته مستلزم تقویت مهارت‌های عمومی و تسلط نسبی بر حوزه‌های مختلف اجرایی و مدیریتی است، همواره تلاش کرده‌ام علی‌رغم چالش‌ها و سختی‌های موجود، تجربیات ارزشمندی در پروژه‌های گوناگون کسب نموده و دانش فنی و مدیریتی خود را به‌طور مستمر توسعه دهم. امید است این تجربیات برای همکاران و کارفرمایان محترم مفید و کارآمد واقع گردد.</p>
                            <p>در طول فعالیت حرفه‌ای خود، همواره متعهد به رعایت استانداردهای کیفی، اصول ایمنی و بهره‌گیری از فناوری‌های نوین در راستای اجرای به‌موقع و بهینه پروژه‌ها بوده‌ام و سابقه موفقی در اتمام پروژه‌های صنعتی پیش از موعد مقرر دارم. همچنین از توانایی کار مؤثر در تیم‌های چندتخصصی، برقراری ارتباط سازنده با ذی‌نفعان پروژه به‌منظور حل مسائل و بهینه‌سازی فرایندها برخوردار می‌باشم.</p>
                            <!--About Social Icons-->
                          <div class="social-icons">
    <a href="#" onclick="toggleInfo('email-info'); return false;">
        <i class="fa fa-envelope"></i>
        <span id="email-info" class="info-tooltip">
            Safa@Omranmokranco.com<br>
            mohammadreza_Safa@yahoo.com
        </span>
    </a>
    
    <a href="#" onclick="toggleInfo('phone-info'); return false;">
        <i class="fa fa-phone"></i>
        <span id="phone-info" class="info-tooltip">09133416110</span>
    </a>
    
    <a href="https://www.linkedin.com/in/mohammadreza-safa-5b158449?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
        <i class="fa fa-linkedin"></i>
    </a>
</div>
                            <span class="about-button">
                                <a class="main-btn" href="{% static 'papers/resume.pdf' %}">دانلود رزومه</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>






<!-- Resume Section -->
    <section id="رزومه" class="resume section">

     <!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2>رزومه</h2>
  <p>
    
    
  </p>
</div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            {% comment %} <h3 class="resume-title">Sumary</h3> {% endcomment %}

            {% comment %} <div class="resume-item pb-0">
              <h4>Brandon Johnson</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div><!-- Edn Resume Item --> {% endcomment %}

            <h3 class="resume-title">تحصیلات</h3>
            <div class="resume-item">
    <h4>کارشناسی مهندسی عمران
        <a href="{% static 'papers/madrak1.pdf' %}" target="_blank" class="pdf-icon">
            <i class="fa fa-file-pdf-o"></i>
        </a>
    </h4>
    <h5>۱۳۷۶ تا ۱۳۸۱</h5>
    <p><em>دانشگاه شهید باهنر کرمان (دولتی) – کرمان</em></p>
</div>

<div class="resume-item">
    <h4>کارشناسی ارشد مدیریت اجرایی (MBA)
        <a href="{% static 'papers/madrak2.pdf' %}" target="_blank" class="pdf-icon">
            <i class="fa fa-file-pdf-o"></i>
        </a>
    </h4>
    <h5>۱۳۹۰ تا ۱۳۹۲</h5>
    <p><em>سازمان مدیریت صنعتی (علمی ـ کاربردی) – کرمان</em></p>
</div>

<div class="resume-item">
    <h4>پروانه نظارت پایه یک عمران
        <a href="{% static 'papers/madrak3.pdf' %}" target="_blank" class="pdf-icon">
            <i class="fa fa-file-pdf-o"></i>
        </a>
    </h4>
    <h5>فروردین ۱۳۸۵</h5>
    <p><em>صادره از سازمان نظام مهندسی ساختمان استان کرمان</em></p>
</div>
            <h3 class="resume-title">سـوابق شغلی و اجرایی </h3>

<div class="resume-item pb-0">
 <section id="resume">
 

  <ul class="main-list">
    <!-- آیتم اول از لیست دوتایی -->
    <li>
      <h3> 	 شرکت توسعه عمران مکران </h3>

      <h4>سوابق مدیریت پروژه</h4>
    

      <ul class="sub-list-level-1">
        <!-- زیرلیست ۴تایی -->
        <li>
         <h4>سیستان و بلوچستان – چابهار</h4>
         <h5>فروردین ۱۴۰۳ – تاکنون</h5>
         <h5>کارفرما: شرکت کیسون</h5>
          <ul class="sub-list-level-2">
            <!-- زیرلیست ۳تایی -->
            <li>	مدیر پروژه عملیات سیویل احداث آب‌شیرین‌کن ۲۰۰ هزار مترمکعبی چابهار</li>
            
          </ul>
        </li>

        <li>
          <h4>کرمان – شهر بابک</h4>
          <h5>فروردین ۱۴۰۰ – اسفند ۱۴۰۲</h5>
          <h5>کارفرما: شرکت ملی صنایع مس ایران</h5>
          <ul class="sub-list-level-2">
            <li>	مدیر پروژه تکمیل عملیات و ترفیع سد رسوب‌گیر معدن مس میدوک (فازهای ۴ و ۵)</li>
            
          </ul>
        </li>

        <li>
         <h4>کرمان – شهر بابک</h4>
          <h5>شهریور ۱۳۹۵ – اسفند ۱۳۹۹</h5>
          <h5>کارفرما: شرکت فولاد جهان‌آرا اروند</h5>
          <ul class="sub-list-level-2">
            <li>	مدیر پروژه عملیات سیویل و ابنیه صنعتی پروژه احداث کارخانه فولاد جهان‌آرا اروند</li>
         
          </ul>
        </li>

        <li>
          <h4>هرمزگان – بندرعباس</h4>
          <h5>آبان ۱۳۹۱ – مرداد ۱۳۹۵</h5>
          <h5>کارفرما: شرکت فولاد کاوه جنوب کیش</h5></h4>
          <ul class="sub-list-level-2">
            <li>	مدیر پروژه بخشی از عملیات سیویل احداث فاز یک کارخانه فولاد کاوه جنوب کیش</li>
            <li>	مدیر پروژه بخشی از عملیات سیویل احداث فاز دو کارخانه فولاد کاوه جنوب کیش</li>
            <li>	مدیر پروژه سیویل و ابنیه احداث مخازن آب‌شیرین‌کن فولاد کاوه جنوب کیش</li>
            <li>مدیر پروژه عملیات سیویل، ابنیه، نصب و راه‌اندازی آب‌شیرین‌کن‌های صنعتی (۳۰٬۰۰۰ و ۱۰٬۰۰۰ مترمکعبی)</li>
            <li>مدیر پروژه عملیات خطوط انتقال آب از دریا با لوله‌های GRV</li>
            <li>مدیر پروژه عملیات سیویل و ابنیه ساختمان‌های صنعتی و غیرصنعتی مجتمع فولاد کاوه جنوب کیش</li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- آیتم دوم از لیست دوتایی -->
    
  </ul>
</section>
</div><!-- End Resume Item -->

          </div>
          



          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            
            
                <li>
        <div class="resume-item pb-0">
 <section id="resume">
 

  <ul class="main-list">
      <h3> 	 شرکت توسعه عمران مکران </h3>
      <h4>سـوابق مدیر فنـی </h4>
      <h5>آبان ۱۳۹۱ تا کنون</h5>

      <ul class="sub-list-level-1">
        <li>
          شرح وظایف:
          <ul class="sub-list-level-2">
            <li>	معاونت فنی شرکت</li>
            <li> 	برآورد اولیه، تهیه و تدوین اسناد مناقصه</li>
            <li>	بررسی، کنترل و تأیید نهایی صورت‌وضعیت‌ها</li>
            <li>برنامه‌ریزی، کنترل و پایش پیشرفت پروژه‌ها</li>
          </ul>
        </li>

        <li>
          کارفرمایان:
          <ul class="sub-list-level-2">
            <li> شهرداری بندرعباس</li>
            <li>شرکت آب آسیا</li>
            <li> شرکت ملی صنایع مس ایران</li>
          </ul>
        </li>

        <li>
     پروژه‌های شاخص:
          <ul class="sub-list-level-2">
            <li>	پروژه احداث موج‌شکن و بلوار ساحلی حسین‌آباد بندرعباس</li>
            <li> 	پروژه احداث تقاطع غیرهمسطح شهید رجایی بندرعباس</li>
            <li> پروژه احداث تقاطع غیرهمسطح سه‌راه جهانبار</li>
            <li>پروژه احداث تقاطع غیرهمسطح تقاطع بلوار شهدا و بلوار جمهوری بندرعباس</li>
            <li> پروژه احداث تقاطع غیرهمسطح تقاطع بلوار راه‌آهن و کمربندی شهید رجایی بندرعباس</li>
            <li> پروژه اجرای بخشی از عملیات سیویل آب‌شیرین‌کن طرح ساقی کوثر و محوطه‌سازی سایت</li>
            <li> 	پروژه احداث جاده‌های اصلی V4 و V5 کارخانه مس درآلو کرمان و اجرای ابنیه فنی</li>
          </ul>
        </li>

        
      </ul>
    </li>
    </ul>
</section>
              
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
               <section id="resume">
 

  <ul class="main-list">
    <!-- آیتم اول از لیست دوتایی -->
    <li>
      <h3> 	 قرارگاه سازندگی خاتم‌الانبیاء (ص) – مؤسسه ثارالله</h3>

      <h4>سرپرست دفتر فنی کارگاه برخـی از پروژه های موسسـه ثارالله</h4>
    

      <ul class="sub-list-level-1">
        <!-- زیرلیست ۴تایی -->
        <li>
         <h4>کرمان – بافت</h4>
         <h5>فروردین ۱۳۸۷ – مهر ۱۳۹۱</h5>
         <h5>کارفرما: شرکت ملی فولاد ایران</h5>
          <ul class="sub-list-level-2">
            <!-- زیرلیست ۳تایی -->
            <li>	سرپرست دفتر فنی و جانشین کارگاه پروژه احداث کارخانه فولاد احیای بافت</li>
            
          </ul>
        </li>

        <li>
          <h4>کرمان – کهنوج</h4>
          <h5>مرداد ۱۳۸۵ – اسفند ۱۳۸۶</h5>
          <h5>کارفرما: شرکت ملی گاز ایران</h5>
          <ul class="sub-list-level-2">
            <li>سرپرست دفتر فنی پروژه خط انتقال گاز سراسری عسلویه – ایرانشهر (قطعه هفتم) به طول تقریبی ۱۰۰ کیلومتر</li>
            <li>شامل احداث مسیر (R.O.W) و کلیه عملیات مکانیکال</li>
          </ul>
        </li>

        <li>
         <h4>کرمان </h4>
          <h5>خرداد ۱۳۸۳ – تیر ۱۳۸۵</h5>
          <h5>کارفرما: شرکت آب منطقه‌ای استان کرمان</h5>
          <ul class="sub-list-level-2">
            <li>	سرپرست دفتر فنی پروژه خط انتقال آب با لوله‌های GRP</li>
            <li>احداث دو مخزن ۳۰ هزار مترمکعبی و یک مخزن ۱۰ هزار مترمکعبی</li>
            <li>طرح آب میان‌مدت کرمان – قطعه چهارم</li>
         
          </ul>
        </li>

        
      </ul>
    </li>

    <!-- آیتم دوم از لیست دوتایی -->
    
  </ul>
</section>
            </div><!-- Edn Resume Item -->


          <div class="resume-item">
               <section id="resume">
 

  <ul class="main-list">
    <!-- آیتم اول از لیست دوتایی -->
    <li>
      <h3>	شرکت مهندسین مشاور هلیل‌آب 	 </h3>

      <h4>مهندس ناظر کارگاهی </h4>
    

      <ul class="sub-list-level-1">
        <!-- زیرلیست ۴تایی -->
        <li>
         <h4>کرمان</h4>
         <h5>مهر ۱۳۸۲ – اردیبهشت ۱۳۸۳</h5>
         <h5>کارفرما: شرکت آب منطقه‌ای استان کرمان</h5>
          <ul class="sub-list-level-2">
            <!-- زیرلیست ۳تایی -->
            <li>کارشناس و ناظر اجرایی پروژه خط انتقال آب و احداث مخازن طرح آب میان‌مدت کرمان</li>
            
          </ul>
        </li>



        
      </ul>
    </li>


          </div>


     <div class="resume-item">
               <section id="resume">
 

  <ul class="main-list">
    <!-- آیتم اول از لیست دوتایی -->
    <li>
      <h3>	شرکت خضـرا ساز   </h3>

      <h4>سرپرست کارگاه ساختمانی اداری</h4>
    

      <ul class="sub-list-level-1">
        <!-- زیرلیست ۴تایی -->
        <li>
         <h4>کرمان</h4>
         <h5>مرداد ۱۳۸۰ – شهریور ۱۳۸۲</h5>
         
          <ul class="sub-list-level-2">
            <!-- زیرلیست ۳تایی -->
            <li>•	سرپرست کارگاه پروژه احداث ساختمان اداری شرکت توزیع برق جنوب کرمان</li>
            
          </ul>
        </li>



        
      </ul>
    </li>


          </div>





        </div>

      </div>

    </section><!-- /Resume Section -->






<!--Certificates Section Start-->
<!--Certificates Section Start-->
<section id="گواهینامه" class="certificates pt-100 pb-70" >
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading text-center">
                    <h6>گواهینامه‌ها</h6>
                    <h2>مدارک و گواهینامه‌های من</h2>
                </div>
            </div>
        </div>
        <div class="row certificates-items">
            <!--Certificate Item 1-->
            <div class="col-lg-2-4 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/certificates/cert-1.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/certificates/cert-1.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>Training Certificate</h6>
                    <p>Internal Audit Of Health & Safety</p>
                </div>
            </div>

            <!--Certificate Item 2-->
            <div class="col-lg-2-4 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/certificates/cert-2.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/certificates/cert-2.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>Training Certificate</h6>
                    <p>Principles Of Safety And Occupational Health</p>
                </div>
            </div>

            <!--Certificate Item 3-->
            <div class="col-lg-2-4 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/certificates/cert-3.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/certificates/cert-3.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>Training Certificate</h6>
                    <p>Health & Safety & Environment Management System (HSE-MS)</p>
                </div>
            </div>

            <!--Certificate Item 4-->
            <div class="col-lg-2-4 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/certificates/cert-4.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/certificates/cert-4.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>Training Certificate</h6>
                    <p>Health & Safety & Environment Plan (HSE-PLAN)</p>
                </div>
            </div>

            <!--Certificate Item 5-->
            <div class="col-lg-2-4 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/certificates/cert-5.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/certificates/cert-5.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>Certificate of Attendance</h6>
                    <p>ISO9001-2008 Elements & Requirements</p>
                </div>
            </div>
        </div>

        <!-- دکمه مشاهده بیشتر -->
        <div class="row">
            <div class="col text-center">
                <div class="certificates-button pt-40">
                    <a class="main-btn" href="certificate/">مشاهده تمامی گواهینامه‌ها</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Certificates Section End-->
<!--Certificates Section End-->







<!--Projects Preview Section Start-->
<section id="پروژه" class="projects-preview pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading text-center">
                    <h6>پروژه‌های اجرایی</h6>
                    <h2>نمونه‌ای از پروژه‌های انجام شده</h2>
                </div>
            </div>
        </div>
        
        <div class="row projects-grid">
            <!-- Project Card 1 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="project-card">
                    <div class="project-card-image">
                        <img src="{% static 'images/projects/project1-1.jpeg' %}" alt="آب‌شیرین‌کن چابهار">
                    </div>
                    <div class="project-card-content">
                        <h4>احداث آب‌شیرین‌کن ۲۰۰ هزار مترمکعبی چابهار</h4>
                        <p>مدیریت و نظارت بر یکی از بزرگ‌ترین پروژه‌های آب‌شیرین‌کن صنعتی کشور با ظرفیت ۲۰۰ هزار مترمکعب در روز.</p>
                        <div class="project-card-meta">
                            <span><i class="fa fa-map-marker"></i> سیستان و بلوچستان</span>
                            <span><i class="fa fa-calendar"></i> ۱۴۰۳ - تاکنون</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Card 2 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="project-card">
                    <div class="project-card-image">
                        <img src="{% static 'images/projects/project2-1.jpeg' %}" alt="آب‌شیرین‌کن چابهار">
                    </div>
                    <div class="project-card-content">
                        <h4>سد رسوب‌گیر معدن مس میدوک</h4>
                        <p>تکمیل و ترفیع سد رسوب‌گیر معدن مس میدوک در فازهای ۴ و ۵ برای شرکت ملی صنایع مس ایران.</p>
                        <div class="project-card-meta">
                            <span><i class="fa fa-map-marker"></i> کرمان - شهر بابک</span>
                            <span><i class="fa fa-calendar"></i> ۱۴۰۰ - ۱۴۰۲</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Card 3 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="project-card">
                    <div class="project-card-image">
                        <img src="{% static 'images/projects/project3-1.jpeg' %}" alt="فولاد جهان‌آرا">
                    </div>
                    <div class="project-card-content">
                        <h4>کارخانه فولاد جهان‌آرا اروند</h4>
                        <p>مدیریت جامع عملیات سیویل و ابنیه صنعتی احداث کارخانه فولاد با ظرفیت ۵۰۰ هزار تن.</p>
                        <div class="project-card-meta">
                            <span><i class="fa fa-map-marker"></i> کرمان - شهر بابک</span>
                            <span><i class="fa fa-calendar"></i> ۱۳۹۵ - ۱۳۹۹</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Card 4 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="project-card">
                    <div class="project-card-image">
                        <img src="{% static 'images/projects/project4-1.jpeg' %}" alt="فولاد کاوه">
                    </div>
                    <div class="project-card-content">
                        <h4>فولاد کاوه جنوب کیش</h4>
                        <p>مدیریت ۶ پروژه همزمان شامل سیویل، آب‌شیرین‌کن و خطوط انتقال در مجتمع فولاد کاوه.</p>
                        <div class="project-card-meta">
                            <span><i class="fa fa-map-marker"></i> بندرعباس</span>
                            <span><i class="fa fa-calendar"></i> ۱۳۹۱ - ۱۳۹۵</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Card 5 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="project-card">
                    <div class="project-card-image">
                        <img src="{% static 'images/projects/project5-3.jpeg' %}" alt="فولاد کاوه">
                    </div>
                    <div class="project-card-content">
                        <h4>تقاطع‌های غیرهمسطح بندرعباس</h4>
                        <p>معاونت فنی و نظارت بر اجرای ۴ تقاطع غیرهمسطح شامل پل‌ها و زیرگذرهای شهری.</p>
                        <div class="project-card-meta">
                            <span><i class="fa fa-map-marker"></i> بندرعباس</span>
                            <span><i class="fa fa-calendar"></i> ۱۳۹۱ - ۱۳۹۹</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Card 6 -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="project-card">
                    <div class="project-card-image">
                        <img src="{% static 'images/projects/project6-1.jpeg' %}" alt=" خط لوله گاز">
                    </div>
                    <div class="project-card-content">
                        <h4>خط انتقال گاز عسلویه - ایرانشهر</h4>
                        <p>سرپرستی دفتر فنی خط انتقال گاز به طول ۱۰۰ کیلومتر با قطر ۵۶ اینچ.</p>
                        <div class="project-card-meta">
                            <span><i class="fa fa-map-marker"></i> کرمان - کهنوج</span>
                            <span><i class="fa fa-calendar"></i> ۱۳۸۵ - ۱۳۸۶</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- دکمه مشاهده بیشتر -->
        <div class="row">
            <div class="col text-center">
                <div class="projects-button pt-40">
                    <a class="main-btn" href="projects/">مشاهده تمامی پروژه‌ها</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Projects Preview Section End-->




        <!--About Section End-->

        

     








        


        {% comment %} <!--Portfolio Section Start-->
        <section class="portfolio pt-100 pb-70" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="heading text-center">
                            <h6>نمونه کارها</h6>
                            <h2>کاری که انجام دادم</h2>
                        </div>
                        <div class="portfolio-filter text-center">
                            <ul>
                                <li class="sel-item" data-filter="*">همه</li>
                                <li data-filter=".design">طراحی وب</li>
                                <li data-filter=".application">اپلیکیشن</li>
                                <li data-filter=".development">توسعه</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row portfolio-items">
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item application">
                        <div class="item-content">
                            <img src="{% static 'images/portfolio/img-1.jpg' %}" alt="">
                            <div class="item-overlay">
                                <h6>اپلیکیشن</h6>
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-1.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item design">
                        <div class="item-content">
                            <img src="{% static 'images/portfolio/img-2.jpg' %}" alt="">
                            <div class="item-overlay">
                                <h6>طراحی وب</h6>
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-2.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development">
                        <div class="item-content">
                            <img src="{% static 'images/portfolio/img-3.jpg' %}" alt="">
                            <div class="item-overlay">
                                <h6>اپلیکیشن</h6>
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-3.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item design development">
                        <div class="item-content">
                            <img src="{% static 'images/portfolio/img-4.jpg' %}" alt="">
                            <div class="item-overlay">
                                <h6>توسعه</h6>
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-4.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development application">
                        <div class="item-content">
                            <img src="{% static 'images/portfolio/img-5.jpg' %}" alt="">
                            <div class="item-overlay">
                                <h6>طراحی وب</h6>
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-5.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item application development">
                        <div class="item-content">
                            <img src="{% static 'images/portfolio/img-6.jpg' %}" alt="">
                            <div class="item-overlay">
                                <h6>طراحی وب</h6>
                                <div class="icons">
                                    <span class="icon link">
                                        <a href="{% static 'images/portfolio/img-6.jpg' %}">
                                            <i class="fa fa-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Portfolio Section End--> {% endcomment %}

        {% comment %} <!--Blog Section Start-->
        <section class="blogs pt-100 pb-100 bg-gray" data-scroll-index="4">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="heading text-center">
                            <h6>وبلاگ</h6>
                            <h2>آخرین خبرها</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        <!--Blogs Item-->
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="single-blog.html">
                                    <img src="{% static 'images/blog/img-1.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="blog-meta">
                                    <span class="more">
                                        <a href="single-blog.html">مطالعه بیشتر</a>
                                    </span>
                                    <span class="date">
                                        22 مرداد 1400
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Blogs Item-->
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="single-blog.html">
                                    <img src="{% static 'images/blog/img-2.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="blog-meta">
                                    <span class="more">
                                        <a href="single-blog.html">مطالعه بیشتر</a>
                                    </span>
                                    <span class="date">
                                        22 مرداد 1400
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Blogs Item-->
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="single-blog.html">
                                    <img src="{% static 'images/blog/img-3.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="blog-meta">
                                    <span class="more">
                                        <a href="single-blog.html">مطالعه بیشتر</a>
                                    </span>
                                    <span class="date">
                                        22 مرداد 1400
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Blogs Item-->
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="single-blog.html">
                                    <img src="{% static 'images/blog/img-4.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3>لورم ایپسوم متن ساختگی با تولید سادگی </h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
                                <div class="blog-meta">
                                    <span class="more">
                                        <a href="single-blog.html">مطالعه بیشتر</a>
                                    </span>
                                    <span class="date">
                                        22 مرداد 1400
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="blog-button pt-40">
                            <a class="main-btn" href="blogs-page.html">مشاهده بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Blog Section End--> {% endcomment %}

        {% comment %} <!--Testimonials Section Start-->
        <section class="testimonials pt-100 pb-100" style="background-image: url('{% static 'images/background/testimonials-bg.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel owl-theme text-center">
                            <!--Testimonials Item-->
                            <div class="testimonial-item">
                                <div class="author-img">
                                    <img src="{% static 'images/testimonial/img-1.jpg' %}" alt="">
                                </div>
                                <h5>آدام همتی</h5>
                                <span>کارگردان خلاق</span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            </div>
                            <!--Testimonials Item-->
                            <div class="testimonial-item">
                                <div class="author-img">
                                    <img src="{% static 'images/testimonial/img-1.jpg' %}" alt="">
                                </div>
                                <h5>آدام همتی</h5>
                                <span>کارگردان خلاق</span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            </div>
                            <!--Testimonials Item-->
                            <div class="testimonial-item">
                                <div class="author-img">
                                    <img src="{% static 'images/testimonial/img-1.jpg' %}" alt="">
                                </div>
                                <h5>آدام همتی</h5>
                                <span>کارگردان خلاق</span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonials Section End--> {% endcomment %}

        <!--
=======================================================
  این بخش را در index.html خود قبل از بخش Contact اضافه کنید
  (قبل از: <section class="contact pt-100 pb-100" ...>)
=======================================================
-->

<!--Appreciation Preview Section Start-->
<section id="تقدیرنامه" class="appreciation-preview pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="heading text-center">
                    <h6>تقدیرنامه‌ها</h6>
                    <h2>تقدیرنامه‌های دریافتی</h2>
                </div>
            </div>
        </div>
        <div class="row appreciation-preview-items">

            <!--Appreciation Item 1-->
            <div class="col-lg-3 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/appreciations/apprec1.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/appreciations/appr-1.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>قرارگاه سازندگی خاتم</h6>
                    <p>پروژه خط انتقال آب شرب شهر کرمان</p>
                </div>
            </div>

            <!--Appreciation Item 2-->
            <div class="col-lg-3 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/appreciations/apprec2.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/appreciations/apprec2.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>قرارگاه سازندگی خاتم</h6>
                    <p>پروژه کارخانه فولاد بافت</p>
                </div>
            </div>

            <!--Appreciation Item 3-->
            <div class="col-lg-3 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/appreciations/apprec3.jpeg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/appreciations/apprec3.jpeg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>قرارگاه سازندگی خاتم</h6>
                    <p>پروژه قطعه هشتم خط انتقال گاز سراسری</p>
                </div>
            </div>

            <!--Appreciation Item 4-->
            <div class="col-lg-3 col-md-4 col-sm-6 item">
                <div class="item-content">
                    <img src="{% static 'images/appreciations/apprec4.jpg' %}" alt="">
                    <div class="item-overlay">
                        <div class="icons">
                            <span class="icon link">
                                <a href="{% static 'images/appreciations/apprec4.jpg' %}">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item-info">
                    <h6>Shanghai Gymta Industrial Development Co., Ltd</h6>
                    <p>Appreciation Letter on ROIV Installation</p>
                </div>
            </div>

        </div>

        <!-- دکمه مشاهده بیشتر -->
        <div class="row">
            <div class="col text-center">
                <div class="appreciation-button pt-40">
                    <a class="main-btn" href="appreciation/">مشاهده تمامی تقدیرنامه‌ها</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Appreciation Preview Section End-->

        <!--Contact Section Start-->
       
        <section class="contact pt-100 pb-100" data-scroll-index="5">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="heading">
                            <h6>تماس</h6>
                            <h2>در تماس باشید</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <!--Contact Form-->
                        <form id='contact-form' method='POST' action="{% url 'website:contact' %}">
                           {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <!--name-->
                                    <input type="text" class="form-control con-validate" id="contact-name" placeholder="نام" minlength=3  name="name">
                                </div>
                                <div class="col-md-6 form-group">
                                    <!--email-->
                                    <input type="email" class="form-control con-validate" id="contact-email" placeholder="ایمیل" name="email">
                                </div>
                                <div class="col-md-12 form-group">
                                    <!--message box-->
                                    <textarea class="form-control con-validate" id="contact-message" placeholder="چگونه ما میتوانیم به شما کمک کنیم؟" rows=6  name="message"></textarea>
                                </div>
                                <div class="col-md-12 text-center">
                                    <!--contact button-->
                                    <button id="contact-submit" class="mt-30 main-btn">
                                        ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Section End-->
        
<script>
function toggleInfo(id) {
    var allTooltips = document.querySelectorAll('.info-tooltip');
    allTooltips.forEach(function(tooltip) {
        if (tooltip.id !== id) {
            tooltip.style.display = 'none';
        }
    });

    var el = document.getElementById(id);
    el.style.display = el.style.display === 'none' ? 'block' : 'none';
}

document.getElementById('contact-form').addEventListener('submit', function(e) {
    e.preventDefault();
    fetch(this.action, {
        method: 'POST',
        body: new FormData(this),
        headers: { 'X-CSRFToken': '{{ csrf_token }}' }
    })
    .then(res => res.json())
    .then(data => {
        if (data.status === 'success') {
            alert(data.message);
            this.reset();
        }
    });
});
</script>
         {% endblock %} 